body {
  background-color: #c8c8c8;
  font-family: "Source Sans Pro", sans-serif; }

#app {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; }

#viewport {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden; }

#job-list {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: margin-left 0.5s ease-in-out;
  width: 300px; }
  #job-list.hidden {
    margin-left: -300px; }
  #job-list .list-group .list-group-item {
    border-right: none; }

#workbench-contents {
  flex: 1 1 auto;
  min-width: 0; }

.file-list .first-column {
  width: 1rem;
  font-weight: bold; }

.file-list .third-column,
.file-list .fourth-column,
.file-list .fifth-column {
  width: 8rem; }

.file-list .second-column {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.file-list thead tr th,
.file-list tbody tr td {
  vertical-align: middle; }

.file-list {
  margin-bottom: 0;
  max-height: 450px;
  overflow-y: auto; }

.file-list-container {
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll; }

.file-list table {
  margin-bottom: 0; }

.dropzone-wrapper {
  height: 10rem;
  border-style: dashed;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.dropbox-container span {
  display: block; }

.dropzone-wrapper .icon-arrow-up-circle {
  font-size: 3rem; }

.file-list .third-column .badge {
  text-transform: uppercase; }

.file-list .sixth-column {
  text-align: center;
  width: 1rem;
  font-size: 1.5rem; }

.file-list .sixth-column a:hover {
  text-decoration: none; }

.btn.btn-primary, .btn.btn-outline-secondary {
  width: 100px; }
  .btn.btn-primary .spinner-border, .btn.btn-outline-secondary .spinner-border {
    height: 1rem;
    width: 1rem; }

.zoning {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .zoning .contents {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    height: 100%; }
    .zoning .contents .file-picker {
      width: 20%; }
    .zoning .contents .renderer {
      background-color: lightgrey;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      min-height: 1px;
      min-width: 1px;
      position: relative; }
      .zoning .contents .renderer canvas {
        background: transparent;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 100; }
      .zoning .contents .renderer .loading-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2000; }
        .zoning .contents .renderer .loading-wrapper .spinner-border {
          height: 100px;
          width: 100px; }
      .zoning .contents .renderer .portal {
        background-color: transparent;
        z-index: 1000; }
      .zoning .contents .renderer .toolbar {
        align-items: center;
        background-color: #666;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10px;
        min-height: 47px;
        padding: 5px 15px; }
        .zoning .contents .renderer .toolbar .btn {
          width: 100px; }
    .zoning .contents .page-preview {
      background-color: #666;
      color: #fff;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 1.5rem;
      width: 250px; }
      .zoning .contents .page-preview .image-preview {
        border: 1px solid transparent;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.75rem;
        position: relative;
        text-align: center; }
        .zoning .contents .page-preview .image-preview.active {
          border-color: #fff; }
          .zoning .contents .page-preview .image-preview.active:hover {
            border-color: #fff; }
        .zoning .contents .page-preview .image-preview:hover {
          border-color: #ccc; }
        .zoning .contents .page-preview .image-preview > div {
          height: 210px;
          margin-bottom: 0.5rem;
          width: 100%; }
  .zoning .footer {
    padding: 0.5rem 0;
    text-align: center; }


/*# sourceMappingURL=/src.a2b27638.css.map */